.login-form {
    /* text-align: center; */
    margin-top: 4%;
    padding: 60px;
    background-color: #D1E9D2;
  }
  .card {
    padding: 20px;
    border: 1px solid #125266;
  }

  .box_background{
    background-color: #F1FDF3;
  }
  .input-group-append {
    cursor: pointer;
  }
  .example-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
  }
  
  .example-full-width {
    width: 100%;
    margin-bottom: 15px;
  }