<button mat-button (click)="successBtn()">
  click for success alert!
</button>
<br>
<button mat-button (click)="warningBtn()">
  click for warning alert!
</button>
<div [ngSwitch]="printAlert">
  <app-success-alert *ngSwitchCase="true"></app-success-alert>
  <app-warning-alert *ngSwitchCase="false"></app-warning-alert>
</div>

<select mat-select [(ngModel)]="selectedOption">
  <option value=1>1</option>
  <option value=2>2</option>
  <option value=3>3</option>
  <option value=4>4</option>
  <option value=5>5</option>
  <option value=6>6</option>
  <option value=7>7</option>
</select>

<div *ngFor="let num of numOfTimes()">
  <div [ngSwitch]="printAlert">
    <app-success-alert *ngSwitchCase="true"></app-success-alert>
    <app-warning-alert *ngSwitchCase="false"></app-warning-alert>
  </div>
</div>