<h1>WELCOME TO FORM!</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
  <div class="field">
    <label class="label">username</label>
    <input type="text" class="input" formControlName="username" [ngClass]="{'invalid': registerForm.get('username')?.invalid && registerForm.get('username')?.touched}" />
    <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="error-message error">
      Username is required!
    </div>
  </div>
  <div class="field">
    <label class="label">email</label>
    <input type="text" class="input" formControlName="email" [ngClass]="{'invalid': registerForm.get('email')?.invalid && registerForm.get('email')?.touched}" />
    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error-message error">
      This email address is not valid!
    </div>
  </div>
  <div class="field">
    <label class="label">password</label>
    <input type="text" class="input" formControlName="password" [ngClass]="{'invalid': registerForm.get('password')?.invalid && registerForm.get('password')?.touched}" />
    <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error-message error">
      Password is required!
    </div>
  </div>

  <div>
    <button type="submit" class="button">Register</button>
  </div>
</form>